/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc107;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

body {
  font-size: 2rem;
  font-family: "Archivo", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  padding: 0rem 3rem 0 3rem;
}

.nav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  backdrop-filter: blur(50px);

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  gap: 3rem;

  padding: 1rem 5rem 1rem 5rem;
}

.nav section ul {
  display: flex;
  gap: 3rem;
}

.nav section ul li a {
  text-decoration: none;
  color: black;
}

.nav section ul li a:hover {
  color: #ffc107;
  text-decoration: underline;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;

  text-align: center;
  align-items: center;

  border-radius: 1rem;
  /* box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px; */
  width: 100%;
  height: min-content;
  /* min-width: 380px; */
  gap: 3rem;
  /* height: max-content; */
}

.about-col-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.5rem;
}

.about-header {
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  color: #ffc107;
}

.about-paragraph {
  font-size: 1.3rem;
  text-align: center;
  max-width: 25rem;
}

img {
  height: 380px;
  width: 100%;
  object-fit: cover;

  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.wave-emoji {
  font-size: 5rem;
  font-weight: 800;
  color: #00bcd4;
  margin-bottom: 1rem;
}

.fb-icon-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 1rem;

  cursor: pointer;
  text-decoration: none;
  color: black;
}

.fb-icon-name:hover {
  color: #ffc107;
  text-decoration: underline;
}

.gg-facebook {
  margin-right: 0.1rem;
}

span {
  font-weight: 800;
  color: #ffc107;
}

.about-me-header {
  font-weight: 800;
}
.about-me-paragraph {
  font-weight: 300;
  max-width: 600px;
  padding: 3rem;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: #000000;
  color: white;
}
